{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/categories:themeforest.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Backendruntime":["0.137154"], "Content-Type":["application/json; charset=utf-8"], "Etag":["\"04d3c6a19ee713927e36c53abf94fd92\""], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"categories\":[{\"name\":\"Site Templates\",\"path\":\"site-templates\"},{\"name\":\"Creative\",\"path\":\"site-templates/creative\"},{\"name\":\"Portfolio\",\"path\":\"site-templates/creative/portfolio\"},{\"name\":\"Photography\",\"path\":\"site-templates/creative/photography\"},{\"name\":\"Art\",\"path\":\"site-templates/creative/art\"},{\"name\":\"Experimental\",\"path\":\"site-templates/creative/experimental\"},{\"name\":\"Corporate\",\"path\":\"site-templates/corporate\"},{\"name\":\"Business\",\"path\":\"site-templates/corporate/business\"}[...]
