{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v3/market/catalog/collection?id=5507368","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Backendruntime":["0.037517"], "Content-Type":["application/json; charset=utf-8"], "Etag":["\"f0dfe8bd05f94893d6d1183ba72713e3\""], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"collection\":{\"id\":5507368,\"name\":\"Test public collection\",\"description\":\"This is an example public collection\",\"private\":false,\"item_count\":1,\"image\":\"default-collection.png\"},\"items\":[{\"id\":13582227,\"name\":\"Material Design Admin with AngularJS\",\"description\":\"\\u003Ch3 id=\\\"item-description__intro\\\"\\u003EIntro\\u003C/h3\\u003E\\n\\u003Cp\\u003EMaterial admin is a Google Material Design inspired admin dashboard template built with Bootstrap and AngularJS.\\u003C/p\\u003E\\n\\u003Ch3 id=\\\"item-description__features\\\"\\u003EFeatures\\u003C/h3\\u003E\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EGoogle Material Design\\u003C/li\\u003E\\n\\u003Cli\\u003EMaterial design a[...]
[...]
