{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/item-prices:13582227.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Backendruntime":["0.006031"], "Content-Type":["application/json; charset=utf-8"], "Etag":["\"82bc4ba12b24747dedf96402b568b22c\""], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"item-prices\":[{\"licence\":\"Regular License\",\"price\":\"24.00\"},{\"licence\":\"Extended License\",\"price\":\"1200.00\"}]}"},"http_version":null},"recorded_at":"Fri, 25 Mar 2016 01:54:35 GMT"}],"recorded_with":"VCR 2.9.3"}