{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/private/user/account.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"7555d7bd56900ad20bbc2e556fa08eb6\""], "Status":["200 OK"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"account\":{\"image\":\"https://0.s3.envato.com/files/144155428/avatar.jpg\",\"firstname\":\"Jacob\",\"surname\":\"Bednarz\",\"available_earnings\":\"0.00\",\"total_deposits\":\"0.00\",\"balance\":\"0.00\",\"country\":\"Australia\"}}"},"http_version":null},"recorded_at":"Fri, 04 Dec 2015 23:37:35 GMT"}],"recorded_with":"VCR 2.9.3"}