{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/user-badges:collis.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"4ce9bd3bfcced6002f88139abb4419e1\""], "Status":["200 OK"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"user-badges\":[{\"name\":\"veteran_level_9\",\"label\":\"9 Years of Membership\",\"image\":\"https://dmypbau5frl9g.cloudfront.net/assets/badges/veteran_level_9-a454337862fa42cb433ae7f2145c582d.svg\"},{\"name\":\"affiliate_level_2\",\"label\":\"Affiliate Level 2\",\"image\":\"https://dmypbau5frl9g.cloudfront.net/assets/badges/affiliate_level_2-42813983cfc998b819c0c7716b87b35e.svg\"},{\"name\":\"country_au\",\"label\":\"Australia\",\"image\":\"https://dmypbau5frl9g.cloudfront.net/assets/badges/country_au-53dc340a932f5b9f1d1db574fb6712b4.svg\"},{\"name\":\"author_level_6\",\"label\":\"Au[...]
