{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/private/user/email.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"f0738995685b9ac0bfff2a0a20acba65\""], "Status":["200 OK"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"email\":\"jacob.bednarz@envato.com\"}"},"http_version":null},"recorded_at":"Fri, 04 Dec 2015 23:40:30 GMT"}],"recorded_with":"VCR 2.9.3"}