{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/user:collis.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"a27c92629de8a3015557a1200a6eb53c\""], "Status":["200 OK"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"user\":{\"username\":\"collis\",\"country\":\"Australia\",\"sales\":\"7573\",\"location\":\"Melbourne\",\"image\":\"https://0.s3.envato.com/files/104719757/collis80.jpg\",\"followers\":\"367\"}}"},"http_version":null},"recorded_at":"Fri, 04 Dec 2015 23:37:39 GMT"}],"recorded_with":"VCR 2.9.3"}
