{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/private/user/username.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"fd29d7fcdb09ffcb9c687aea514627c5\""], "Status":["200 OK"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"username\":\"<ENVATO_API_USERNAME>\"}"},"http_version":null},"recorded_at":"Fri, 04 Dec 2015 23:37:36 GMT"}],"recorded_with":"VCR 2.9.3"}
