{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v3/market/author/sale?code=1234-5678-90123","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Backendruntime":["0.029892"], "Content-Type":["application/json; charset=utf-8"], "Etag":["\"4786af6837ae5b17ba4024104ff32a2d\""], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"error\":404,\"description\":\"No sale belonging to the current user found with that code\"}"},"http_version":null},"recorded_at":"Mon, 25 Apr 2016 05:51:05 GMT"}],"recorded_with":"VCR 2.9.3"}