{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v3/market/author/sale?code=<ENVATO_PURCHASE_CODE>","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Backendruntime":["0.092478"], "Content-Type":["application/json; charset=utf-8"], "Etag":["\"9fc7f34429a5dbb9195ee84187412472\""], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"amount\":\"5.40\",\"sold_at\":\"2009-11-13T19:28:25+11:00\",\"item\":{\"id\":56449,\"name\":\"Test theme - HTML\",\"description\":\"Test description\",\"site\":\"themeforest.net\",\"classification\":\"site-templates/retail\",\"classification_url\":\"http://themeforest.net/category/site-templates/retail\",\"price_cents\":1300,\"number_of_sales\":850,\"author_username\":\"cool-author\",\"author_url\":\"http://themeforest.net/user/cool-author\",\"author_image\":\"https://0.s3.envato.com/files/1234/cool-author.png\",\"url\":\"http://themeforest.net/item/awesome-theme/1234\",\"summary\":\"High Resolution: No, Compatible Browsers: IE6, IE7, IE8, IE9, IE10, IE11, Firefox, Safari, Chrome, Edge, Columns: 2\",\"rating\":4.34,\"rating_count\":109,\"updated_at\":\"2016-01-09T15:22:36+11:00\",\"published_at\":\"2009-08-27T16:59:13+10:00\",\"trending\":false,\"attributes\":[{\"name\":\"columns\",\"value\":\"2\"},{\"name\":\"compatible-browsers\",\"value\":[\"IE6\",\"IE7\",\"IE8\",\"IE9\",\"IE10\",\"IE11\",\"Firefox\",\"Safari\",\"Chrome\",\"Edge\"]},{\"name\":\"compatible-with\",\"value\":null},{\"name\":\"demo-url\",\"value\":\"http://example.com/?theme=9\\u0026style=0\"},{\"name\":\"documentation\",\"value\":\"Well Documented\"},{\"name\":\"high-resolution\",\"value\":\"No\"},{\"name\":\"layout\",\"value\":\"Fixed\"},{\"name\":\"themeforest-files-included\",\"value\":[\"Layered PSD\",\"PHP Files\",\"HTML Files\",\"CSS Files\",\"JS Files\"]}],\"tags\":[\"baby\",\"brown\"],\"previews\":{\"live_site\":{\"href\":\"/item/awesome-theme/full_screen_preview/1234\",\"type\":\"live_site\"},\"icon_with_landscape_preview\":{\"icon_url\":\"https://0.s3.envato.com/files/1234/lol.png\",\"landscape_url\":\"https://0.s3.envato.com/files/1234/lol.png\",\"type\":\"icon_with_landscape_preview\"},\"landscape_preview\":{\"landscape_url\":\"https://0.s3.envato.com/files/1234/lol.png\",\"type\":\"landscape_preview\"},\"icon_preview\":{\"icon_url\":\"https://0.s3.envato.com/files/1234/preview.png\",\"type\":\"icon_preview\"}}},\"license\":\"Regular License\",\"support_amount\":\"0.00\",\"supported_until\":\"2016-03-02T03:00:00+11:00\",\"buyer\":\"good-buyer\",\"purchase_count\":1}"},"http_version":null},"recorded_at":"Mon, 25 Apr 2016 06:18:25 GMT"}],"recorded_with":"VCR 2.9.3"}
