sudo: false
language: ruby
rvm:
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - 2.3.0
  - 2.4.0-preview1
  - ruby-head
bundler_args: --retry=3 --jobs=3
script: bundle exec rspec spec
notifications:
  emails: false
matrix:
  allow_failures:
    - rvm: ruby-head
