{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/number-of-files:themeforest.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "Etag":["W/\"zjWSRhyuiLLjw0QpRuZMwg==\""], "Last-Modified":["Tue, 17 Nov 2015 06:28:35 GMT"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"number-of-files\":[{\"category\":\"Site Templates\",\"number_of_files\":\"6551\",\"url\":\"http://themeforest.net/category/site-templates\"},{\"category\":\"WordPress\",\"number_of_files\":\"5800\",\"url\":\"http://themeforest.net/category/wordpress\"},{\"category\":\"CMS Themes\",\"number_of_files\":\"1137\",\"url\":\"http://themeforest.net/category/cms-themes\"},{\"category\":\"eCommerce\",\"number_of_files\":\"1568\",\"url\":\"http://themeforest.net/category/ecommerce\"},{\"category\":\"Blogging\",\"number_of_files\":\"580\",\"url\":\"http://themeforest.net/category/blogging\"},{\"category\":\"Marketing\",\"number_of_files\":\"1975\",\"url\":\"http://themeforest.net/category/marketing\"},{\"category\":\"Forums\",\"number_of_files\":\"33\",\"url\":\"http://themeforest.net/category/forums\"},{\"category\":\"PSD Templates\",\"number_of_files\":\"2510\",\"url\":\"http://themeforest.net/category/psd-templates\"},{\"category\":\"Muse Templates\",\"number_of_files\":\"765\",\"url\":\"http://themeforest.net/category/muse-templates\"},{\"category\":\"Sketch Templates\",\"number_of_files\":\"25\",\"url\":\"http://themeforest.net/category/sketch-templates\"},{\"category\":\"TypeEngine Themes\",\"number_of_files\":\"7\",\"url\":\"http://themeforest.net/category/typeengine-themes\"},{\"category\":\"Static Site Generators\",\"number_of_files\":\"15\",\"url\":\"http://themeforest.net/category/static-site-generators\"}]}"},"http_version":null},"recorded_at":"Tue, 17 Nov 2015 06:33:13 GMT"}],"recorded_with":"VCR 2.9.3"}