{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/total-items.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "Etag":["W/\"29-9ae84672\""], "Last-Modified":["Mon, 16 Nov 2015 06:07:50 GMT"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"total-items\":{\"total_items\":\"8913348\"}}"},"http_version":null},"recorded_at":"Mon, 16 Nov 2015 06:13:12 GMT"}],"recorded_with":"VCR 2.9.3"}
