{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v3/market/author/sales?page=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Backendruntime":["1.414311"], "Content-Type":["application/json; charset=utf-8"], "Etag":["\"3a9e20573c74a0ffc160775568841983\""], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"[{\"amount\":\"20.00\",\"sold_at\":\"2016-04-09T05:19:48+10:00\",\"item\":{\"id\":123456,\"name\":\"A cool theme - WordPress\",\"description\":\"This is a theme I made and looks good!\",\"summary\":\"Widget Ready: Yes, Compatible Browsers: IE10, IE11, Firefox, Safari, Opera, Chrome, Edge, Compatible With: Something 2.4.x, Visual Composer 4.4.x, Software Version: WordPress 4.1.3, WordPress 4.4.1, WordPress 4.4, Columns: 2\",\"rating\":5,\"rating_count\":1009,\"updated_at\":\"2016-03-22T16:55:36+11:00\",\"published_at\":\"2016-01-02T06:34:43+11:00\",\"trending\":true,\"attributes\":[{\"name\":\"columns\",\"value\":\"2\"},{\"name\":\"compatible-browsers\",\"value\":[\"IE10\",\"IE11\",\"Firefox\",\"Safari\",\"Opera\",\"Chrome\",\"Edge\"]},{\"name\":\"compatible-software\",\"value\":[\"WordPress 4.1.2\",\"WordPress 4.4.1\",\"WordPress 4.4\"]},{\"name\":\"compatible-with\",\"value\":[\"WooCommerce 2.2.x\",\"Visual Composer 4.6.x\"]},{\"name\":\"demo-url\",\"value\":\"http://mydomain.net\/loads\/of\/things\"},{\"name\":\"documentation\",\"value\":\"Unrated\"},{\"name\":\"framework\",\"value\":null},{\"name\":\"high-resolution\",\"value\":null},{\"name\":\"layout\",\"value\":\"Responsive\"},{\"name\":\"themeforest-files-included\",\"value\":[\"Layered PSD\",\"PHP Files\",\"HTML Files\",\"CSS Files\",\"JS Files\"]},{\"name\":\"widget-ready\",\"value\":\"Yes\"}],\"tags\":[\"awesome\",\"creative\",\"good\"],\"previews\":{\"live_site\":{\"href\":\"/item/great-theme/full_screen_preview/12345\",\"type\":\"live_site\"},\"icon_with_landscape_preview\":{\"icon_url\":\"https://0.s3.envato.com/files/12445/the-best-image-ever.png\",\"landscape_url\":\"https://0.s3.envato.com/files/345678/1so-many-previews.png\",\"type\":\"icon_with_landscape_preview\"},\"landscape_preview\":{\"landscape_url\":\"https://0.s3.envato.com/files/43443/why-so-many-previews.png\",\"type\":\"landscape_preview\"},\"icon_preview\":{\"icon_url\":\"https://0.s3.envato.com/files/5445656/vfbfgbgfsnfgn.png\",\"type\":\"icon_preview\"}},\"wordpress_theme_metadata\":{\"theme_name\":\"pretty good one\",\"author_name\":\"jacob\",\"version\":\"1.6.14\",\"description\":\"All that theme stuff\"}},\"license\":\"Regular License\",\"support_amount\":\"0.00\",\"supported_until\":\"2016-10-08T18:22:09+11:00\"}, {\"amount\":\"20.00\",\"sold_at\":\"2016-04-09T05:19:48+10:00\",\"item\":{\"id\":123456,\"name\":\"A cool theme - WordPress\",\"description\":\"This is a theme I made and looks good!\",\"summary\":\"Widget Ready: Yes, Compatible Browsers: IE10, IE11, Firefox, Safari, Opera, Chrome, Edge, Compatible With: Something 2.4.x, Visual Composer 4.4.x, Software Version: WordPress 4.1.3, WordPress 4.4.1, WordPress 4.4, Columns: 2\",\"rating\":5,\"rating_count\":1009,\"updat[...]
