{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/new-files-from-user:collis,themeforest.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"343fd90936c5e41e5a31618fe03d3216\""], "Status":["200 OK"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"new-files-from-user\":[{\"id\":\"22705\",\"item\":\"Black + White Simple Theme\",\"url\":\"http://themeforest.net/item/black-white-simple-theme/22705\",\"user\":\"collis\",\"thumbnail\":\"https://preview-tf.s3.envato.com/files/60223.jpg\",\"sales\":\"916\",\"rating\":\"4.5\",\"rating_decimal\":\"4.32\",\"cost\":\"8.00\",\"uploaded_on\":\"Tue Dec 02 04:01:12 +1100 2008\",\"last_update\":\"\",\"tags\":\"clean\",\"category\":\"psd-templates/creative\",\"live_preview_url\":\"https://0.s3.envato.com/files/60224/1_home.__large_preview.jpg\"}]}"},"http_version":null},"recorded_at":"Sun, 06 Dec 2015 21:32:55 GMT"}],"recorded_with":"VCR 2.9.3"}