{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/new-files-from-user:johnsyweb,themeforest.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"46fb0a93ca9ebf39ebe0091ee2ef35d4\""], "Status":["200 OK"], "X-Ratelimit-Remaining":["97"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"new-files-from-user\":[]}"},"http_version":null},"recorded_at":"Sun, 06 Dec 2015 22:11:32 GMT"}],"recorded_with":"VCR 2.9.3"}