{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/non-existent-url","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer"]}},"response":{"status":{"code":403,"message":"Forbidden"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"4a-7efcfdfa\""]},"body":{"encoding":"UTF-8","string":"{\"error\":\"access_denied\",\"error_description\":\"Wrong authorization header\"}"},"http_version":null},"recorded_at":"Sun, 15 Nov 2015 09:16:27 GMT"}],"recorded_with":"VCR 2.9.3"}