{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/active-threads:themeforest.net","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":500,"message":"Internal Server Error"},"headers":{"Content-Type":["text/plain; charset=utf-8"], "Etag":["W/\"37-f4d2c9ed\""], "Status":["500 Internal Server Error"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"error\":500,\"message\":\"Invalid response from backend\"}"},"http_version":null},"recorded_at":"Sun, 15 Nov 2015 10:10:44 GMT"}],"recorded_with":"VCR 2.9.3"}
