{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/total-items.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "Etag":["W/\"29-4bcf8989\""], "Last-Modified":["Thu, 15 Oct 2015 06:32:57 GMT"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"total-items\":{\"total_items\":\"8676143\"}}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 06:34:43 GMT"}],"recorded_with":"VCR 2.7.0"}