{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/total-items.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "Etag":["W/\"29-f19417bd\""], "Last-Modified":["Sat, 17 Oct 2015 06:41:53 GMT"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"total-items\":{\"total_items\":\"8696472\"}}"},"http_version":null},"recorded_at":"Sat, 17 Oct 2015 06:51:41 GMT"}],"recorded_with":"VCR 2.9.3"}