{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/private/user/earnings-and-sales-by-month.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Backendruntime":["0.018699"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"AnJmM5Lhp9bR7l31cNLmPg==\""], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"earnings-and-sales-by-month\":[{\"month\":\"Mon Jun 01 00:00:00 +1000 2009\",\"sales\":\"10\",\"earnings\":\"100.10\"},{\"month\":\"Wed Jul 01 00:00:00 +1000 2009\",\"sales\":\"238\",\"earnings\":\"300.10\"},{\"month\":\"Sat Aug 01 00:00:00 +1000 2009\",\"sales\":\"1112\",\"earnings\":\"1008.10\"}]}"},"http_version":null},"recorded_at":"Fri, 08 Apr 2016 21:54:58 GMT"}],"recorded_with":"VCR 2.9.3"}
