{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/private/user/statement.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Backendruntime":["0.011684"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"10-7406297b\""], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"statement\":[]}"},"http_version":null},"recorded_at":"Fri, 08 Apr 2016 22:55:27 GMT"}],"recorded_with":"VCR 2.9.3"}