{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/private/user/statement.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Backendruntime":["0.024381"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"wAZ4BEC+k+Y3Ba+IVrSmSw==\""], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"statement\":[{\"kind\":\"Author Fee\",\"amount\":\"-1.00\",\"description\":\"Author Fee for included support sale IVIP1234\",\"occured_at\":\"Sat Apr 09 05:11:49 +1000 2014\"},{\"kind\":\"Author Fee\",\"amount\":\"-10.00\",\"description\":\"Author Fee for sale IVIP98765\",\"occured_at\":\"Sat Apr 01 05:29:49 +1000 2013\"},{\"kind\":\"sale\",\"amount\":\"23.70\",\"description\":\"My awesome theme (6 months included support)\",\"occured_at\":\"Sat Mar 20 01:19:49 +1000 2016\"}]}"},"http_version":null},"recorded_at":"Fri, 08 Apr 2016 22:55:50 GMT"}],"recorded_with":"VCR 2.9.3"}
