{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/user-items-by-site:johnsyweb.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"e28b92d17f6f208fb843e93e2d4f8d1b\""], "Status":["200 OK"], "X-Ratelimit-Remaining":["98"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"user-items-by-site\":[]}"},"http_version":null},"recorded_at":"Sun, 06 Dec 2015 22:11:31 GMT"}],"recorded_with":"VCR 2.9.3"}