{"http_interactions":[{"request":{"method":"get","uri":"https://api.envato.com/v1/market/user-items-by-site:collis.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer <ENVATO_API_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "Etag":["W/\"64-4fd79f4a\""], "Last-Modified":["Fri, 04 Dec 2015 23:41:48 GMT"], "X-Ratelimit-Remaining":["99"], "X-Ratelimit-Total":["100"]},"body":{"encoding":"UTF-8","string":"{\"user-items-by-site\":[{\"site\":\"ThemeForest\",\"items\":\"1\"},{\"site\":\"Tuts+ Marketplace\",\"items\":\"2\"}]}"},"http_version":null},"recorded_at":"Fri, 04 Dec 2015 23:50:55 GMT"}],"recorded_with":"VCR 2.9.3"}
